# Code Samples From Large Group

Place your notes and code samples from large group here.

In [1]:
import pandas as pd

In [8]:
student_data = [
    {"name": "abby", "gpa": 3.7, "major": "BIO"},
    {"name": "bob", "gpa": 2.4, "major": "BIO"},
    {"namez": "chris", "gpa": 3.0, "major": "CHE"},
    {"gpa": 3.2, "major": "CHE", "name": "dee"},
    {"name": "eric", "gpa": 2.9, "major": "PHY"}
]

In [9]:
student_df = pd.DataFrame(student_data)

In [10]:
student_df

   name  gpa major  namez
0  abby  3.7   BIO    NaN
1   bob  2.4   BIO    NaN
2   NaN  3.0   CHE  chris
3   dee  3.2   CHE    NaN
4  eric  2.9   PHY    NaN

In [11]:
student_data = [
    {"name": "abby", "gpa": 3.7, "major": "BIO"},
    {"name": "bob", "gpa": 2.4, "major": "BIO"},
    {"name": "chris", "gpa": 3.0, "major": "CHE"},
    {"gpa": 3.2, "major": "CHE", "name": "dee"},
    {"name": "eric", "gpa": 2.9, "major": "PHY"}
]

In [12]:
student_df = pd.DataFrame(student_data)

In [13]:
student_df

    name  gpa major
0   abby  3.7   BIO
1    bob  2.4   BIO
2  chris  3.0   CHE
3    dee  3.2   CHE
4   eric  2.9   PHY

In [14]:
student_df.loc[1, "gpa"]

2.4

In [16]:
student_df.index

RangeIndex(start=0, stop=5, step=1)

In [17]:
student_df.columns

Index(['name', 'gpa', 'major'], dtype='object')

In [20]:
student_df

    name  gpa major
0   abby  3.7   BIO
1    bob  2.4   BIO
2  chris  3.0   CHE
3    dee  3.2   CHE
4   eric  2.9   PHY

In [19]:
for col in student_df.columns:
    print(student_df.loc[0, col])

abby
3.7
BIO

In [21]:
for i in student_df.index:
    print(student_df.loc[i, "name"])

abby
bob
chris
dee
eric

In [22]:
print(student_df["name"])

0     abby
1      bob
2    chris
3      dee
4     eric
Name: name, dtype: object

In [23]:
print(student_df["gpa"])

0    3.7
1    2.4
2    3.0
3    3.2
4    2.9
Name: gpa, dtype: float64

In [24]:
names = list(student_df['name'].values)

In [25]:
names

['abby', 'bob', 'chris', 'dee', 'eric']

In [26]:
student_df

    name  gpa major
0   abby  3.7   BIO
1    bob  2.4   BIO
2  chris  3.0   CHE
3    dee  3.2   CHE
4   eric  2.9   PHY

In [27]:
student_df['major'].value_counts()

major
BIO    2
CHE    2
PHY    1
Name: count, dtype: int64

In [28]:
major_series = student_df['major'].value_counts()

In [29]:
major_series.index

Index(['BIO', 'CHE', 'PHY'], dtype='object', name='major')

In [30]:
major_series.values

array([2, 2, 1])

In [31]:
student_df

    name  gpa major
0   abby  3.7   BIO
1    bob  2.4   BIO
2  chris  3.0   CHE
3    dee  3.2   CHE
4   eric  2.9   PHY

In [33]:
lowest_gpa = student_df['gpa'].min()
lowest_gpa

2.4

In [34]:
highest_gpa = student_df['gpa'].max()

In [35]:
highest_gpa

3.7

In [36]:
shdf = pd.read_csv("superhero2.csv")

In [38]:
shdf.head()

,Year,Title,Comic,IMDB Score,RT Score,Composite Score,Opening Weekend Box Office,Avg Ticket Price,Opening Weekend Attendance,US Population That Year,pct_of_pop,box_off_estimate
0,1978,Superman,DC,7.3,95,84.0,7465343.0,2.34,3190317.521,222584545,0.014333,17468902.62
1,1980,Superman II,DC,6.7,88,77.5,14100523.0,2.69,5241830.112,227224681,0.023069,37930406.87
2,1983,Superman III,DC,4.9,24,36.5,13352357.0,3.15,4238843.492,233791994,0.018131,42059924.55
3,1984,Supergirl,DC,4.2,8,25.0,5738249.0,3.36,1707812.202,235824902,0.007242,19280516.64
4,1986,Howard the Duck,Marvel,4.3,16,29.5,5070136.0,3.71,1366613.477,240132887,0.005691,18810204.56

In [39]:
shdf.tail()

,Year,Title,Comic,IMDB Score,RT Score,Composite Score,Opening Weekend Box Office,Avg Ticket Price,Opening Weekend Attendance,US Population That Year,pct_of_pop,box_off_estimate
41,2011,X-Men: First Class,Marvel,7.9,87,83.0,55101604.0,7.93,6.948500e+06,311591917,0.022300,4.369557e+08
42,2012,Marvel's The Avengers,Marvel,8.7,92,89.5,207438708.0,7.92,2.619176e+07,314055984,0.083398,1.642915e+09
43,2012,The Dark Knight Rises,DC,9.1,86,88.5,160887295.0,7.92,2.031405e+07,314055984,0.064683,1.274227e+09
44,2012,Ghost Rider: Spirit of Vengeance,Marvel,4.5,17,31.0,22115334.0,7.92,2.792340e+06,314055984,0.008891,1.751534e+08
45,2012,The Amazing Spider-Man,Marvel,7.6,74,75.0,62004688.0,7.92,7.828875e+06,314055984,0.024928,4.910771e+08

In [40]:
shdf.head(10)

,Year,Title,Comic,IMDB Score,RT Score,Composite Score,Opening Weekend Box Office,Avg Ticket Price,Opening Weekend Attendance,US Population That Year,pct_of_pop,box_off_estimate
0,1978,Superman,DC,7.3,95,84.0,7465343.0,2.34,3.190318e+06,222584545,0.014333,1.746890e+07
1,1980,Superman II,DC,6.7,88,77.5,14100523.0,2.69,5.241830e+06,227224681,0.023069,3.793041e+07
2,1983,Superman III,DC,4.9,24,36.5,13352357.0,3.15,4.238843e+06,233791994,0.018131,4.205992e+07
3,1984,Supergirl,DC,4.2,8,25.0,5738249.0,3.36,1.707812e+06,235824902,0.007242,1.928052e+07
4,1986,Howard the Duck,Marvel,4.3,16,29.5,5070136.0,3.71,1.366613e+06,240132887,0.005691,1.881020e+07
5,1987,Superman IV: The Quest for Peace,DC,3.6,10,23.0,5683122.0,3.91,1.453484e+06,242288918,0.005999,2.222101e+07
6,1989,Batman,DC,7.6,71,73.5,40489746.0,3.97,1.019893e+07,246819230,0.041321,1.607443e+08
7,1992,Batman Returns,DC,7.0,78,74.0,45687711.0,4.15,1.100909e+07,255029699,0.043168,1.896040e+08
8,1995,Batman Forever,DC,5.4,42,48.0,52784433.0,4.35,1.213435e+07,262803276,0.046173,2.296123e+08
9,1997,Batman & Robin,DC,3.6,12,24.0,42872605.0,4.59,9.340437e+06,267783607,0.034881,1.967853e+08

In [41]:
shdf.sample(5)

,Year,Title,Comic,IMDB Score,RT Score,Composite Score,Opening Weekend Box Office,Avg Ticket Price,Opening Weekend Attendance,US Population That Year,pct_of_pop,box_off_estimate
33,2008,Punisher: War Zone,Marvel,6.0,26,43.0,4271451.0,7.18,5.949096e+05,304374846,0.001955,3.066902e+07
32,2008,Iron Man,Marvel,7.9,94,86.5,98618668.0,7.18,1.373519e+07,304374846,0.045126,7.080820e+08
0,1978,Superman,DC,7.3,95,84.0,7465343.0,2.34,3.190318e+06,222584545,0.014333,1.746890e+07
3,1984,Supergirl,DC,4.2,8,25.0,5738249.0,3.36,1.707812e+06,235824902,0.007242,1.928052e+07
25,2006,Superman Returns,DC,6.3,76,69.5,52535096.0,6.55,8.020625e+06,298593212,0.026861,3.441049e+08

In [42]:
shdf[10:15]

,Year,Title,Comic,IMDB Score,RT Score,Composite Score,Opening Weekend Box Office,Avg Ticket Price,Opening Weekend Attendance,US Population That Year,pct_of_pop,box_off_estimate
10,1997,Steel,DC,2.7,12,19.5,870068.0,4.59,1.895573e+05,267783607,0.000708,3.993612e+06
11,1998,Blade,Marvel,7.0,55,62.5,17073856.0,4.69,3.640481e+06,270248003,0.013471,8.007638e+07
12,2000,X-Men,Marvel,7.4,82,78.0,54471475.0,5.39,1.010603e+07,282171957,0.035815,2.936013e+08
13,2002,Blade II,Marvel,6.6,59,62.5,32528016.0,5.81,5.598626e+06,287803914,0.019453,1.889878e+08
14,2002,Spider-Man,Marvel,7.4,89,81.5,114844116.0,5.81,1.976663e+07,287803914,0.068681,6.672443e+08

In [44]:
shdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         46 non-null     int64
 1   Title                        46 non-null     object
 2   Comic                        46 non-null     object
 3   IMDB Score                   46 non-null     float64
 4   RT Score                     46 non-null     int64
 5   Composite Score              46 non-null     float64
 6   Opening Weekend  Box Office  46 non-null     float64
 7   Avg Ticket Price             46 non-null     float64
 8   Opening Weekend Attendance   46 non-null     float64
 9   US Population That Year      46 non-null     int64
 10  pct_of_pop                   46 non-null     float64
 11  box_off_estimate             46 non-null     float64
dtypes: float64(7), int64(3), object(2)
memory usage: 4.4+ KB

In [45]:
max_imdb_score = shdf['IMDB Score'].max()
max_imdb_score

9.1

In [47]:
shdf[shdf['IMDB Score'] == 9.1]

,Year,Title,Comic,IMDB Score,RT Score,Composite Score,Opening Weekend Box Office,Avg Ticket Price,Opening Weekend Attendance,US Population That Year,pct_of_pop,box_off_estimate
43,2012,The Dark Knight Rises,DC,9.1,86,88.5,160887295.0,7.92,20314052.4,314055984,0.064683,1.274227e+09

In [48]:
## The movie with the lowest RT Score
shdf[shdf['RT Score'] == shdf['RT Score'].min()]

,Year,Title,Comic,IMDB Score,RT Score,Composite Score,Opening Weekend Box Office,Avg Ticket Price,Opening Weekend Attendance,US Population That Year,pct_of_pop,box_off_estimate
3,1984,Supergirl,DC,4.2,8,25.0,5738249.0,3.36,1707812.202,235824902,0.007242,19280516.64

In [50]:
website = "https://ist256.com/"
website_local = "IST256.html"

dfs = pd.read_html(website_local)

In [51]:
dfs[0]

            Dates                                              Topic
0      8/26 - 9/1      Lesson 01: Introduction to Python Programming
1       9/2 - 9/8  Lesson 02: Input, Output, Variables and Types ...
2      9/9 - 9/15                            Lesson 03: Conditionals
3     9/16 - 9/22    Lesson 04: Iterations E1 9/18 on in Small Group
4     9/23 - 9/29         Lesson 05: User-defined Functions, Modules
5     9/30 - 10/6             Lesson 06: Strings and Text Processing
6    10/7 - 10/13                Lesson 07: File I/O and Persistence
7    10/14- 10/20  Fall Break 10/14 and 10/15 E2 on 10/16 in Smal...
8   10/21 - 10/27                                   Lesson 08: Lists
9    10/28 - 11/3                   Lesson 09: Dictionaries and JSON
10   11/4 - 11/10      Lesson 10: Pandas I E3 on 11/6 in Small Group
11  11/11 - 11/17  Lesson 11: Pandas II  P1 project deliverable d...
12  11/18 - 11/24                      Lesson 12: Data Visualization
13   11/25 - 12/1                    Thanksgiving Break - No Classes
14    12/2 - 12/8  Lesson 13: Web API’s P2 project deliverable du...
15   12/9 - 12/15  E4 on 12/9 in Large Group  P3 and P4 Project d...

In [52]:
df_due = dfs[-1]

In [54]:
df_due.head()

,Date Due,Time Due,Gradebook,Points,Where?,What is Due?
0,8/27/2024,11:59 PM,L01,3,Jupyterhub,01-Intro/LAB-Intro.ipynb
1,8/28/2024,11:59 PM,S01,3,Jupyterhub,01-Intro/SmallGroup-Intro.ipynb
2,8/30/2024,11:59 PM,H01,3,Jupyterhub,01-Intro/HW-Intro.ipynb
3,9/3/2024,11:59 PM,L02,3,Jupyterhub,02-Variables/LAB-Variables.ipynb
4,9/4/2024,11:59 PM,S02,3,Jupyterhub,02-Variables/SmallGroup-Variables.ipynb

In [55]:
homeworks_df  = df_due[ df_due['Gradebook'].str.startswith("H") ]
homeworks_df

,Date Due,Time Due,Gradebook,Points,Where?,What is Due?
2,8/30/2024,11:59 PM,H01,3,Jupyterhub,01-Intro/HW-Intro.ipynb
5,9/6/2024,11:59 PM,H02,3,Jupyterhub,02-Variables/HW-Variables.ipynb
8,9/13/2024,11:59 PM,H03,3,Jupyterhub,03-Conditionals/HW-Conditionals.ipynb
12,9/20/2024,11:59 PM,H04,3,Jupyterhub,04-Iterations/HW-Iterations.ipynb
15,9/27/2024,11:59 PM,H05,3,Jupyterhub,05-Functions/HW-Functions.ipynb
18,10/4/2024,11:59 PM,H06,3,Jupyterhub,06-Strings/HW-Strings.ipynb
21,10/11/2024,11:59 PM,H07,3,Jupyterhub,07-Files/HW-Files.ipynb
25,10/25/2024,11:59 PM,H08,3,Jupyterhub,08-Lists/HW-Lists.ipynb
28,11/1/2024,11:59 PM,H09,3,Jupyterhub,09-Dictionaries/HW-Dictionaries.ipynb
32,11/8/2024,11:59 PM,H10,3,Jupyterhub,10-Pandas-I/HW-PandasI.ipynb
35,11/15/2024,11:59 PM,H11,3,Jupyterhub,11-Pandas-II/HW-PandasII.ipynb
39,11/22/2024,11:59 PM,H12,3,Jupyterhub,12-Visualization/HW-Visualization.ipynb
42,12/6/2024,11:59 PM,H13,3,Jupyterhub,13-WebAPIs/HW-Webapis.ipynb

In [56]:
##
## Input A Lesson 01 - 13
## Output - All assignments due for that lesson
##

In [64]:
from IPython.display import display
from ipywidgets import interact_manual

#units = [str(i).zfill(2) for i in range(14)]
units = ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13']

df = pd.read_html("IST256.html")[-1]

@interact_manual(unit=units)
def onclick(unit):
    unit_assignments = df[ df['Gradebook'].str.endswith(unit) ]
    display(unit_assignments)

interactive(children=(Dropdown(description='unit', options=('00', '01', '02', '03', '04', '05', '06', '07', '0…

In [60]:
 "4".zfill(3)

'004'