# Now You Code In Class: 
## Tricks of The Pandas Masters Volume I

We will try something a bit different for our Activity - A series of Pandas coding challenges!

Datasets we will use:

- https://raw.githubusercontent.com/mafudge/datasets/master/flights/sample-flights.csv
- https://raw.githubusercontent.com/mafudge/datasets/master/orders/sample-orders.csv

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
from ipywidgets import widgets, interact_manual

pd.set_option('display.max_colwidth', None)

## Reading a dataset into a dataframe.

The following code loads the airline flights dataset into the variable `flights`

In [2]:
flights = pd.read_csv(" https://raw.githubusercontent.com/mafudge/datasets/master/flights/sample-flights.csv")
flights.head()

,flight_number,departure_airport_code,arrival_airport_code,departure_date,arrival_date,departure_time,arrival_time,flight_duration,airline_name,aircraft_type
0,1350,KJP,VOG,2022-03-26,2022-03-07,5:04,23:25,10.96,United,Embraer E190
1,5381,FUN,POW,2022-11-01,2022-07-05,19:32,13:09,10.29,Southwest,Embraer E190
2,2892,ROR,COO,2022-11-09,2022-05-16,0:02,19:45,10.65,Delta,Boeing 747
3,2406,XGA,HCM,2022-01-09,2022-02-13,19:32,11:45,12.20,American,Boeing 737
4,1261,TDK,LKU,2022-02-07,2022-01-26,4:25,16:50,7.05,United,Boeing 737

In [6]:
# PROMPT 1 read orders data into variable called "orders" and display the first few rows
orders = pd.read_csv("https://raw.githubusercontent.com/mafudge/datasets/master/orders/sample-orders.csv")
orders.head(3)

,orderid,orderdate,custname,custemail,custcountry,orderstatus,ordertotal,ordercreditcard,ordershipvia,shippingtotal
0,2,2023-03-24,Frayda Pepperd,fpepperd0@sciencedaily.com,Canada,delivered,228.39,Discover,RPS,12.05
1,3,2020-02-23,Loy Siberry,lsiberry1@so-net.ne.jp,Canada,delivered,76.87,Discover,USPS,6.27
2,4,2022-04-28,Carree Henworth,NaN,Canada,pending,152.30,Discover,USPS,12.74

## What does the data look like?

This code uses `info()` to get information about the columns and datatypes of the dataframe.

In [7]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   flight_number           1000 non-null   int64
 1   departure_airport_code  1000 non-null   object
 2   arrival_airport_code    1000 non-null   object
 3   departure_date          1000 non-null   object
 4   arrival_date            1000 non-null   object
 5   departure_time          1000 non-null   object
 6   arrival_time            1000 non-null   object
 7   flight_duration         1000 non-null   float64
 8   airline_name            993 non-null    object
 9   aircraft_type           1000 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 78.3+ KB

In [9]:
# PROMPT 2 - get information for the "orders" dataframe
# does every order have an email?
def hi(name):
    print(f"Hi {name}")
    
hi("George")

orders.info()

Hi George
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   orderid          1000 non-null   int64
 1   orderdate        1000 non-null   object
 2   custname         1000 non-null   object
 3   custemail        946 non-null    object
 4   custcountry      1000 non-null   object
 5   orderstatus      1000 non-null   object
 6   ordertotal       1000 non-null   float64
 7   ordercreditcard  1000 non-null   object
 8   ordershipvia     1000 non-null   object
 9   shippingtotal    944 non-null    float64
dtypes: float64(2), int64(1), object(7)
memory usage: 78.3+ KB

## What are the different aircraft names?

This code will use `value_counts()` to produce counts of the different aircraft names

In [10]:
flights["aircraft_type"].value_counts()

aircraft_type
Embraer E190    229
Boeing 777      217
Boeing 747      149
Airbus A350     141
Boeing 737      134
Airbus A320     130
Name: count, dtype: int64

In [11]:
orders.columns

Index(['orderid', 'orderdate', 'custname', 'custemail', 'custcountry',
       'orderstatus', 'ordertotal', 'ordercreditcard', 'ordershipvia',
       'shippingtotal'],
      dtype='object')

In [12]:
# PROMPT 3  - get the value counts for order status
orders['orderstatus'].value_counts()

orderstatus
delivered    584
shipped      210
pending      206
Name: count, dtype: int64

## This prints a list of unique airline names

We use `unique()` on the series to get a unique list of value, and `dropna()` to get rid of the empty values.

In [13]:
airlines = sorted(list(flights['airline_name'].dropna().unique()))
print(airlines)

['American', 'Delta', 'Jetblue', 'Southwest', 'United']

In [14]:
# PROMPT 4 - get a unique list of the customer country
customer_countries = sorted(list(orders['custcountry'].dropna().unique()))
print(customer_countries)

['Canada', 'United States', 'Mexico']

In [16]:
# PROMPT 4a : generalize this to a function:
def dedupe_series(series: pd.Series) -> list:
    dedupe = sorted(list(series.dropna().unique()))
    return dedupe

ship = dedupe_series(orders['ordershipvia'])
print(ship)

['FedEX', 'RPS', 'UPS', 'USPS']

## Create a drop-down list of airlines.

this creates a drop-down selection widget based on the airline values

In [17]:
airline_dropdown = widgets.Dropdown(options=airlines, description="Airline")
display(airline_dropdown)

Dropdown(description='Airline', options=('American', 'Delta', 'Jetblue', 'Southwest', 'United'), value='Americ…

In [ ]:
# PROMPT 5 - create a dropdown of countries from orders

## Get stats on the numerical columns

The `describe()` method function will get statistics for the numerical values in the dataframe.

In [ ]:
flights.describe()

In [ ]:
# PROMPT 6 - that is the least expensive order? Most expensive shipping amount?

## Storing Min and Max in variables

This example stores the shortest and longest flights in separate variables.

In [18]:
shortest = flights['flight_duration'].min()
longest = flights['flight_duration'].max()
print(shortest, longest)

1.02 15.99

In [21]:
# PROMPT 7 - store the largest and smallest orders order total in variables.
orders['ordertotal'].min()
orders['ordertotal'].max()

249.19

## Creating a Range Slider widget

This example creates a Range slider widget for flight duration, setting the upper and lower bounds to the min/max values.

In [ ]:
flight_duration_slider = widgets.FloatRangeSlider(
    min = shortest, max=longest, step=0.5, description="Duration")
display(flight_duration_slider)

In [22]:
# PROMPT 8 - Create a range slider for orders using min/max approach
flights

,flight_number,departure_airport_code,arrival_airport_code,departure_date,arrival_date,departure_time,arrival_time,flight_duration,airline_name,aircraft_type
0,1350,KJP,VOG,2022-03-26,2022-03-07,5:04,23:25,10.96,United,Embraer E190
1,5381,FUN,POW,2022-11-01,2022-07-05,19:32,13:09,10.29,Southwest,Embraer E190
2,2892,ROR,COO,2022-11-09,2022-05-16,0:02,19:45,10.65,Delta,Boeing 747
3,2406,XGA,HCM,2022-01-09,2022-02-13,19:32,11:45,12.20,American,Boeing 737
4,1261,TDK,LKU,2022-02-07,2022-01-26,4:25,16:50,7.05,United,Boeing 737
...,...,...,...,...,...,...,...,...,...,...
995,9482,ICI,KNE,2022-06-05,2022-02-08,19:06,9:58,7.94,Delta,Boeing 777
996,7267,IXR,RPX,2022-02-05,2022-02-27,20:02,7:32,8.68,American,Embraer E190
997,6231,SXT,YIP,2022-09-05,2022-07-15,16:19,0:39,8.82,Delta,Airbus A320
998,5392,GMR,ISE,2022-07-14,2022-10-29,23:13,23:08,9.57,American,Embraer E190
999,6356,0,IGA,2022-11-21,2022-03-29,1:53,21:11,3.40,American,Boeing 747

## Let's engineer a column!

This example will create a YEAR column by slicing the first 4 characters from the date. Since the data type of the `departure_date` is Object we must use the `.str` property to get the string value.

In [ ]:
flights["departure_year"] = flights["departure_date"].str[:4]
flights.head()

In [ ]:
# PROMPT 9 - create an order year column!

In [ ]:
# prompt 10 - create an order month column!

## United airlines flights

This example uses a boolean filter to create a smaller dataframe of just United airlines flights.

In [ ]:
ua_flights = flights[
    flights["airline_name"] == "United"
]
ua_flights

In [ ]:
# Prompt 10 - display only orders that were delivered

## Dataframe Boolean Filters with logical And

Sometimes you want to filter a dataframe on two conditions for example:


    - American Airlines AND
    - Boeing 777 aircraft

To do this we must use the dataframe AND operator: `&`

Notice how we must include `()` around each boolean filter.

In [ ]:
special_flights = flights[ 
    (flights["airline_name"] == "American") & 
    (flights["aircraft_type"] == "Boeing 777") 
]
special_flights.head()

In [ ]:
# PROMPT 11 - show "special orders": those orders delivered to the Canada in year 2023

## Flight Tracker

Inputs:

    - Range for the duration of the flight
    - Airline
    
Outputs:
    
    -DataFrame of flights matching that criteira

In [26]:
# Get Data
airlines = sorted(list(flights['airline_name'].dropna().unique()))
shortest = flights['flight_duration'].min()
longest = flights['flight_duration'].max()

# Make widgets
airline_dropdown = widgets.Dropdown(options=airlines, description="Airline")
flight_duration_slider = widgets.FloatRangeSlider(
    min = shortest, max=longest, step=0.5, description="Duration")

@interact_manual(airline=airline_dropdown, duration=flight_duration_slider)
def on_click(airline, duration):
    filtered_flights = flights[
        (flights["airline_name"] == airline) &
        (flights["flight_duration"] >= duration[0]) &
        (flights["flight_duration"] <= duration[1])
    ]
    display(filtered_flights)

interactive(children=(Dropdown(description='Airline', options=('American', 'Delta', 'Jetblue', 'Southwest', 'U…

## Order Report

Inputs:

    - Range Slider for the order amount total
    - Year of order, Order Status, Customer Country as drop downs
    
Outputs:
    
    -DataFrame of orders matching the selected criteria

In [27]:
orders.columns # a refresher of the available columns

Index(['orderid', 'orderdate', 'custname', 'custemail', 'custcountry',
       'orderstatus', 'ordertotal', 'ordercreditcard', 'ordershipvia',
       'shippingtotal'],
      dtype='object')

In [28]:
# PROMPT 12 - make the order report!
country_list = dedupe_series(orders['custcountry'])
status_list = dedupe_series(orders['orderstatus'])

# main interact 
@interact_manual(country=country_list, status=status_list)
def on_click(country, status):
    print(country, status)

interactive(children=(Dropdown(description='country', options=('Canada', 'Mexico', 'United States'), value='Ca…

In [29]:
# run this code to turn in your work!
from casstools.assignment import Assignment
Assignment().submit()

✅ TIMESTAMP  : 2024-11-06 17:06
✅ COURSE     : ist256
✅ TERM       : fall2024
✅ USER       : mafudge@syr.edu
✅ STUDENT    : False
✅ PATH       : ist256/fall2024/lessons/10-Pandas-I/SmallGroup-PandasI.ipynb
✅ ASSIGNMENT : SmallGroup-PandasI.ipynb
✅ POINTS     : 3
✅ DUE DATE   : 2024-11-06 23:59
✅ LATE       : False
💣 FILE CHECK ERROR 💣
❌ Error Details: 404 Client Error: Not Found for url: https://cass.app.cent-su.org/courses/ist256-fall2024/submission/SmallGroup-PandasI.ipynb/submit/mafudge@syr.edu/fileinfo/SmallGroup-PandasI.ipynb