# Code Samples From Large Group

Place your notes and code samples from large group here.

In [1]:
student = {}

In [2]:
student['name'] = 'Ally'

In [3]:
student

{'name': 'Ally'}

In [4]:
student['gpa'] = 3.91

In [5]:
student

{'name': 'Ally', 'gpa': 3.91}

In [6]:
student['gpa'] = 4.0

In [7]:
student

{'name': 'Ally', 'gpa': 4.0}

In [8]:
student['courses'] = [ 'MAT221', 'IST195', 'WRT307']

In [9]:
student

{'name': 'Ally', 'gpa': 4.0, 'courses': ['MAT221', 'IST195', 'WRT307']}

In [10]:
student['name'] = { 'first' : 'Ally', 'last' : 'Gater' }

In [11]:
student

{'name': {'first': 'Ally', 'last': 'Gater'},
 'gpa': 4.0,
 'courses': ['MAT221', 'IST195', 'WRT307']}

In [12]:
student['major'] = 'Finance'

In [13]:
student

{'name': {'first': 'Ally', 'last': 'Gater'},
 'gpa': 4.0,
 'courses': ['MAT221', 'IST195', 'WRT307'],
 'major': 'Finance'}

In [14]:
student['gpa']

4.0

In [15]:
student

{'name': {'first': 'Ally', 'last': 'Gater'},
 'gpa': 4.0,
 'courses': ['MAT221', 'IST195', 'WRT307'],
 'major': 'Finance'}

In [16]:
student['name']['last']

'Gater'

In [17]:
student['courses'][-1]

'WRT307'

In [19]:
student

{'name': {'first': 'Ally', 'last': 'Gater'},
 'gpa': 4.0,
 'courses': ['MAT221', 'IST195', 'WRT307'],
 'major': 'Finance'}

In [21]:
student['major'][:3]

'Fin'

In [24]:
# letter counter
text = "this is a sample text and i want to count the letters in this text"
text = "mississippi"
letter_counts = {}
for letter in text:
    if letter in letter_counts.keys():
        letter_counts[letter] += 1
    else:
        letter_counts[letter] = 1

print(letter_counts)

{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [27]:
# letter counter
text = "this is a sample text and i want to count the letters in this text"
word_counts = {}
for word in text.split():
    if word in word_counts.keys():
        word_counts[word] += 1
    else:
        word_counts[word] = 1

print(word_counts)

{'this': 2, 'is': 1, 'a': 1, 'sample': 1, 'text': 2, 'and': 1, 'i': 1, 'want': 1, 'to': 1, 'count': 1, 'the': 1, 'letters': 1, 'in': 1}

In [29]:
student

{'name': {'first': 'Ally', 'last': 'Gater'},
 'gpa': 4.0,
 'courses': ['MAT221', 'IST195', 'WRT307'],
 'major': 'Finance'}

In [33]:
student['age']

KeyError: 'age'

In [32]:
student.keys()

dict_keys(['name', 'gpa', 'courses', 'major'])

In [34]:
student.get("age")

In [35]:
student.get("gpa")

4.0

In [36]:
if not student.get("age"):
    print("no age")

no age

In [37]:
student.get("age", 18)

18

In [38]:
student.get("gpa", 0.0)

4.0

In [39]:
student

{'name': {'first': 'Ally', 'last': 'Gater'},
 'gpa': 4.0,
 'courses': ['MAT221', 'IST195', 'WRT307'],
 'major': 'Finance'}

In [40]:
x = 10
print(x)
del x
print(x)

10

NameError: name 'x' is not defined

In [41]:
student

{'name': {'first': 'Ally', 'last': 'Gater'},
 'gpa': 4.0,
 'courses': ['MAT221', 'IST195', 'WRT307'],
 'major': 'Finance'}

In [42]:
del student['gpa']

In [43]:
student

{'name': {'first': 'Ally', 'last': 'Gater'},
 'courses': ['MAT221', 'IST195', 'WRT307'],
 'major': 'Finance'}

In [44]:
student.get("gpa", 0.0)

0.0

In [45]:
for key, val in student.items():
    print(key)

name
courses
major

In [46]:
for key, val in student.items():
    print(val)

{'first': 'Ally', 'last': 'Gater'}
['MAT221', 'IST195', 'WRT307']
Finance

In [47]:
for key, val in student.items():
    print(key, '==', val)

name == {'first': 'Ally', 'last': 'Gater'}
courses == ['MAT221', 'IST195', 'WRT307']
major == Finance

In [48]:
for key in student.keys():
    print(key)

name
courses
major

In [49]:
for val in student.values():
    print(val)

{'first': 'Ally', 'last': 'Gater'}
['MAT221', 'IST195', 'WRT307']
Finance

In [52]:
# wordcount rewrite
# only show when more than one word!
text = "this is a sample text and i want to count the letters in this text this that and the other"
word_counts = {}
for word in text.split():
    word_counts[word] = word_counts.get(word, 0) + 1
    # replaces this code
    # if word in word_counts.keys():
    #     word_counts[word] += 1
    # else:
    #     word_counts[word] = 1

for k, v in word_counts.items():
    if v > 1:
        print(k, v)

this 3
text 2
and 2
the 2

In [53]:
students = [
    {'name': 'bob', 'gpa': 3.4},
    {'name': 'sue', 'gpa': 2.8},
    {'name': 'kent', 'gpa': 4.0}
]

#chaining
students[0]['name']

'bob'

In [54]:
# last student's gpa
students[-1]['gpa']

4.0

In [56]:
students

[{'name': 'bob', 'gpa': 3.4},
 {'name': 'sue', 'gpa': 2.8},
 {'name': 'kent', 'gpa': 4.0}]

In [57]:
for s in students:
    print(s['name'])

bob
sue
kent

In [58]:
names = []
for s in students:
    names.append(s['name'])
    
names

['bob', 'sue', 'kent']

In [59]:
students

[{'name': 'bob', 'gpa': 3.4},
 {'name': 'sue', 'gpa': 2.8},
 {'name': 'kent', 'gpa': 4.0}]

In [60]:
# list comprehension
# converts one list into another list
names = [s['name'] for s in students]
print(names)

['bob', 'sue', 'kent']

In [61]:
# same as this code:
names = []
for s in students:
    names.append(s['name'])
    
names

['bob', 'sue', 'kent']

In [63]:
songs = [
    {'title': 't1', 'artist': 'b'},
    {'title': 't2', 'artist': 'b'},
    {'title': 't3', 'artist': 'b'},
    {'title': 't4', 'artist': 'c'},
    {'title': 't5', 'artist': 'c'},
    {'title': 't6', 'artist': 'c'},
]

# deduplicate
artists = list(set([s['artist'] for s in songs]))
artists

['b', 'c']

In [64]:
from ipywidgets import interact_manual

@interact_manual(artist=artists)
def onclick(artist):
    # search pattern:
    for s in songs:
        if s['artist'] == artist:
            print(s['title'])

interactive(children=(Dropdown(description='artist', options=('b', 'c'), value='b'), Button(description='Run I…

In [65]:
import json

In [66]:
text = '{ "name" : "tina", "age" :22}'
text['name']

TypeError: string indices must be integers, not 'str'

In [67]:
type(text)

str

In [68]:
text

'{ "name" : "tina", "age" :22}'

In [69]:
person = json.loads(text)

In [70]:
person

{'name': 'tina', 'age': 22}

In [71]:
type(person)

dict

In [72]:
person['age']

22

In [73]:
person['phone'] = '555-1234'

In [74]:
person

{'name': 'tina', 'age': 22, 'phone': '555-1234'}

In [76]:
json.dumps(person)[:5]

'{"nam'

In [77]:
with open("mike.json", "r") as j:
    mike = json.load(j)

In [79]:
mike['cars']

['bentley', 'tesla']

In [80]:
with open("europe.json", "r") as f:
    countries = json.load(f)

In [81]:
type(countries)

list

In [83]:
countries[5]

{'name': 'Belgium',
 'topLevelDomain': ['.be'],
 'alpha2Code': 'BE',
 'alpha3Code': 'BEL',
 'callingCodes': ['32'],
 'capital': 'Brussels',
 'altSpellings': ['BE',
  'België',
  'Belgie',
  'Belgien',
  'Belgique',
  'Kingdom of Belgium',
  'Koninkrijk België',
  'Royaume de Belgique',
  'Königreich Belgien'],
 'relevance': '1.5',
 'region': 'Europe',
 'subregion': 'Western Europe',
 'translations': {'de': 'Belgien',
  'es': 'Bélgica',
  'fr': 'Belgique',
  'ja': 'ベルギー',
  'it': 'Belgio'},
 'population': 11248330,
 'latlng': [50.83333333, 4.0],
 'demonym': 'Belgian',
 'area': 30528.0,
 'gini': 33.0,
 'timezones': ['UTC+01:00'],
 'borders': ['FRA', 'DEU', 'LUX', 'NLD'],
 'nativeName': 'België',
 'numericCode': '056',
 'currencies': ['EUR'],
 'languages': ['nl', 'fr', 'de']}

In [84]:
country_names = [ c['name'] for c in countries]

In [85]:
country_names.sort()

In [86]:
country_names

['Albania',
 'Andorra',
 'Austria',
 'Belarus',
 'Belgium',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Faroe Islands',
 'Finland',
 'France',
 'Germany',
 'Gibraltar',
 'Greece',
 'Guernsey',
 'Holy See',
 'Hungary',
 'Iceland',
 'Isle of Man',
 'Italy',
 'Jersey',
 'Latvia',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Moldova',
 'Monaco',
 'Montenegro',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Republic of Ireland',
 'Republic of Kosovo',
 'Republic of Macedonia',
 'Romania',
 'Russia',
 'San Marino',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Svalbard and Jan Mayen',
 'Sweden',
 'Switzerland',
 'Ukraine',
 'United Kingdom',
 'Åland Islands']